<div class="header-wrapper">
  <div class="container">
    <div class="menu" (click)="isSidebarOpen = true" *ngIf="isMobile">
      <img src="assets/images/menu-icon.svg">
      <div class="logo">
        <a href="/">Milan Djordjevic</a>
      </div>
    </div>
    <div class="logo" *ngIf="!isMobile">
      <a href="/">Milan Djordjevic</a>
    </div>


    <!-- Desktop Nav -->
    <div class="nav-links" *ngIf="!isMobile">
      <a routerLink="/" routerLinkActive="/">Home</a>
      <a routerLink="/projects" routerLinkActive="/projects">Projects</a>
      <a routerLink="/experience" routerLinkActive="/projects">Experience</a>
      <a routerLink="/contact" routerLinkActive="/contact">Contact</a>
    </div>
    <div class="cta-button" *ngIf="!isMobile">
      <a (click)="downloadResume()">Resume <img src="/assets/images/download-icon.svg"></a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar" [class.open]="isSidebarOpen" [@openClose]="isSidebarOpen ? 'open' : 'closed'">
      <div class="close-btn" (click)="closeSidebar()">×</div>
      <a routerLink="/" (click)="closeSidebar()">Home</a>
      <a routerLink="/projects" (click)="closeSidebar()">Projects</a>
      <a routerLink="/experience" (click)="closeSidebar()">Experience</a>
      <a routerLink="/contact" (click)="closeSidebar()">Contact</a>
      <div class="cta-button">
        <a (click)="downloadResume()">Resume <img src="/assets/images/download-icon.svg"></a>
      </div>
    </div>

    <!-- Backdrop -->
    <!-- <div class="backdrop" *ngIf="isSidebarOpen && isMobile" (click)="closeSidebar()"></div> -->
  </div>