<div class="contact-page">
  <h1 appRevealOnScroll="fadeUp">Contact</h1>
  <p class="subtitle" appRevealOnScroll="fadeUp" [delay]="100">
    I'm currently open to new opportunities. Feel free to reach out if you'd like to discuss a project or just want to
    connect.
  </p>

  <div class="contact-info">
    <a href="mailto:djordjevic.milan13@gmail.com" class="contact-link" appRevealOnScroll="fadeUp" [staggerIndex]="0">
      <i class="fas fa-envelope"></i>
      djordjevic.milan13&#64;gmail.com
    </a>
    <a href="https://www.linkedin.com/in/milandjordjevic00/" target="_blank" class="contact-link" appRevealOnScroll="fadeUp" [staggerIndex]="1">
      <i class="fab fa-linkedin"></i>
      LinkedIn
    </a>
    <a href="https://github.com/Belcuga" target="_blank" class="contact-link" appRevealOnScroll="fadeUp" [staggerIndex]="2">
      <i class="fab fa-github"></i>
      GitHub
    </a>
  </div>
</div>