.contact-page {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-primary);
  text-align: center;
  transition: color 0.3s ease;

  h1 {
    font-size: 2.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-primary);
  }

  .subtitle {
    font-size: 1.125rem;
    color: var(--text-primary);
    font-weight: 400;
    margin-bottom: 2.5rem;
    line-height: 1.7;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {

    .contact-info {
      flex-direction: column;
      align-items: center;
    }

  }

  .contact-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }

    i {
      font-size: 1.2rem;
    }
  }
}