<div class="contact-page">
  <h1>Contact</h1>
  <p class="subtitle">
    I'm currently open to new opportunities. Feel free to reach out if you'd like to discuss a project or just want to
    connect.
  </p>

  <div class="contact-info">
    <a href="mailto:djordjevic.milan13@gmail.com" class="contact-link">
      <i class="fas fa-envelope"></i>
      djordjevic.milan13&#64;gmail.com
    </a>
    <a href="https://www.linkedin.com/in/milandjordjevic00/" target="_blank" class="contact-link">
      <i class="fab fa-linkedin"></i>
      LinkedIn
    </a>
    <a href="https://github.com/Belcuga" target="_blank" class="contact-link">
      <i class="fab fa-github"></i>
      GitHub
    </a>
  </div>
</div>